body {
    display: block;
}

.month-picker {
    /* background-color: #D9D9D9; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.month-picker-text {
    font-size: 16px;
    letter-spacing: 0.1px;
}

.month-picker-text-selected {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.3px;
    text-decoration: underline;
    justify-self: center;
}

.weekday-picker {
    background-color: #000000;
    height: 30px;
    display: flex;
    color: #ffffff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.days {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows: 90px 90px 90px 90px 90px;
    column-gap: 80px;
    row-gap: 20px;
}

.day {
    background-color: #D9D9D9;
    border: 5px solid #F3BE18;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px;

    /* For days with events:
    #90DC90 */
}

.day-modified {
    background-color: #90DC90;
}

.day:hover,
.day:focus {
    transform: scale(1.1);
    cursor: pointer;
}

.day-date {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.day-month {
    font-size: 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #ffffff   ;
    margin: 15% auto;
    border: 5px solid #F3BE18;
    border-radius: 5px;
    width: 50%;
    box-shadow: 5px 5px;
}

.modal-current-date {
    font-size: 28px;
    font-weight: bold;
}

.modal-wrapper-top-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.close {
    color: #000000;
    width: 30px;
    height: 100%;
    float: right;
}

.left {
    color: #000000;
    width: 30px;
    height: 100%;
}

.right {
    color: #000000;
    width: 30px;
    height: 100%;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-wrapper-top {
    background-color: #D9D9D9;
    padding: 20px;
}

.modal-wrapper-bottom {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.event-single {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.event-single-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-single-svg {
    width: 50px;
    height: 100%;
}

.new-event {
    margin-bottom: 10px;
}

#event,
#push {
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0px;
}